<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Web Personal</title>
</head>
<body>
    <!--cabecera-->
    <h1>Web Personal </h1>
    <ul>
        <li><a href="{% url 'home'%}">Principal</a></li>
        <li><a href="{% url 'about'%}">Acerca de<a/a></li>
        <li><a href="{% url 'portfolio'%}">Portafolio<a/a></li>
        <li><a href="{% url 'contact'%}">Contacto<a/a></li>
        <li><a href="{% url 'donotclick'%}">Do-not-click</a></li>
    </ul>
    <!--contenido-->
    {% block content %}{% endblock %}
</body>
</html>